on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Upload Release Asset

jobs:
  build:
    name: Upload Release Asset
    runs-on: windows-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13.5'

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build project
        shell: pwsh
        run: |
          .\make.ps1
      
      - name: Release Artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.zip
            *.tar.gz
            Patroni-Env-Setup.exe
