name: Test
on:
  pull_request:
  workflow_dispatch:

jobs:

  test-windows:
    if: true # false to skip job during debug
    name: Test Python set up
    runs-on: windows-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v3

    - name: Test
        run: |
          .\clean.bat
          .\install-env.bat
