name: Test
on:
  pull_request:
  workflow_dispatch:

jobs:

  test-windows:
    if: true # false to skip job during debug
    name: Build assets
    runs-on: windows-latest
    steps:
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13.5'

    - name: Check out code
      uses: actions/checkout@v4

    - name: Test
      shell: pwsh
      run: |
        .\make.ps1